body{
    background-color: black;
}
h1{
    color: aliceblue;
    text-align: center;
}
h2{
    color: black;

}

.c{
    padding: 10px;
    border-radius: 15px;
    background-color: aliceblue;
    margin: 100px;
}